header {
    background: #7f8e7f;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: left;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

header button {
    color: rgb(21, 39, 20);
    background-color: #afb5aa;
    border: 0;
    border-radius: 1vh;
    padding: 1vh;
    margin: 0vh;
    width: 15vh;
    height: 8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    margin-left: 2vh;
    margin-top: 1vh;
}

header button:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

header button:active {
    background-color: #b2b1b1;
    transform: translateY(2px);
}

#tools {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7f8e7f;
}

#article-container {
    padding: 1vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: left;
    height: 88vh;
    background-color: #7f8e7f;
    width: 100%;
    float: left;
}

#article-container button {
    color: rgb(21, 39, 20);
    background-color: #afb5aa;
    border: 0;
    border-radius: 1vh;
    padding: 1vh;
    margin: 0vh;
    width: 15vh;
    height: 15vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
}

#article-container button:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

#article-container button:active {
    background-color: #b2b1b1;
    transform: translateY(2px);
}

nav {
    position: fixed;
    width: 8%;
}

#Class-Form-base {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 89vh;
    float: right;
    width: 91.1%;
}

#base-Form {
    background-color: #f3f0e6;
    width: 98%;
    height: 100%;
    border-radius: 10vh;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    font-size: 5vh;
    overflow-y: auto;
}

#Class-form-Title {
    color: #f3f0e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    margin-left: 2vh;
}

table {
    width: 90%;
    height: 20%;
    text-align: center;
    border: #b9b4a2 solid 0.5vh;
    border: 1;
    margin: 0;
    margin-left: 10vh;
}


input[type="checkbox"] {
    width: 4vh;
    height: 4vh;
    accent-color: #7f8e7f;
}

#nome {
    width: 90vh;
}

.alunos {
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"] {
    height: 100%;
    width: 100%;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    border: 0;
    text-align: center;
    color: #415841;
}

#tools h1 {
    color: #f3f0e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    margin-left: 2vh;
}

input[type="text"]:disabled {
    color: #415841;
}