header {
    background: linear-gradient(to bottom, rgb(156, 175, 112) 0%,rgb(102, 136, 77) 44%,rgb(40, 85, 37) 100%);
    color: rgb(31, 56, 32);
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: #192c1b 1vh solid;
    height: 15vh;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/fundo.png);
    background-size: cover;
    background-color: #c7c4b8;
    background-blend-mode: luminosity;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbe0c0;
    height: 13vh;
    width: 70%;
    border-radius: 0vh 0vh 50vh 50vh;
    
}

#agenda-titulo {
    margin: 1vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vh;
}
#escola-titulo {
    margin: 0vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(156, 175, 112) 0%,rgb(102, 136, 77) 44%,rgb(49, 99, 46) 100%);
    height: 70vh;
    width: 90%;
    margin: auto;
    margin-top: 7vh;
    border-radius: 10vh;
}

#card-titulo {
    color: white;
    font-size: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0vh;
    margin-bottom: 1vh;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    transition: opacity 0.4s ease, bottom 0.4s ease-out, visibility 0.5s ease;
    opacity: 1;
    position: relative;
    bottom: 0vh;
    visibility: visible;
}

.card-container.hidden {
    opacity: 0;
    pointer-events: none;
    bottom: -20vh;
    visibility: hidden;
    bottom: -20vh;
}
.card-container.show {
    opacity: 1;
    bottom: 0;
    visibility: visible;
    bottom: 0;
}

.card-serie {
    background-color: #dce2db;
    width: 40vh;
    height: 40vh;
    border-radius: 10vh;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    opacity: 1;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.05s ease-in, width 0.1s ease-in, height 0.1s ease-in, font-size 0.1s ease-in, opacity 0.4s ease, visibility 0.5s ease;
}

.curso-botao {
    background-color: #dce2db;
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    opacity: 1;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.05s ease-in, width 0.1s ease-in, height 0.1s ease-in, font-size 0.1s ease-in, opacity 0.4s ease, visibility 0.5s ease;
}

.curso-botao:hover {
    background-color: #acb8aa;
    cursor: pointer;
    width: 35vh;
    height: 35vh;
    font-size: 9vh;
}

.curso-botao:active {
    background-color: #3e5739;
    cursor: pointer;
    width: 35vh;
    height: 35vh;
    font-size: 9vh;
    color: white;
}

.curso-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    position: relative;
    bottom: -20vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, bottom 0.4s ease-out, visibility 0.5s ease;
}
.curso-div.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    bottom: 0;
}

.curso-div.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    bottom: -20vh;
}

.card-serie:hover {
    background-color: #acb8aa;
    cursor: pointer;
    width: 45vh;
    height: 45vh;
    font-size: 12vh;
}

.card-serie:active {
    background-color: #3e5739;
    cursor: pointer;
    width: 45vh;
    height: 45vh;
    font-size: 12vh;
    color: white;
}

.card-serie a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#card-voltar {strong{
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    margin-left: 2vh;
}
    background-color: #dbe0c0;
    width: 20vh;
    height: 6vh;
    border: 0;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    margin: 0;
    font-size: 4vh;
}

#card-voltar:hover {
    color: #587053;
    cursor: pointer;
    font-size: 3.5vh;
}

.voltar {
    transition: background-color 0.05s ease-in, width 0.1s ease-in, height 0.1s ease-in, font-size 0.1s ease-in, opacity 0.4s ease, visibility 0.5s ease;
    opacity: 0;
}

.voltar.show {
    opacity: 1;
}
.voltar.hidden {
    opacity: 0;
}


#bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    width: 100%;
    height: 6vh;
    padding: 0;
    float: right;
}

#imagem {
    width: 20vh;
    height: 20vh;
    height: 100%;
    padding: auto;
    display: flex;
    right: -20vh;
    position: relative;
}

#logo {
    width: 12vh;
    height: 12vh;
    margin: auto;
    display: flex;
    position: relative;
    border-radius: 100%;
}

.curso-imagem {
    width: 22vh;
    height: 22vh;
    padding: auto;
    display: flex;
    image-rendering: pixelated;
}